@media (max-width: 60em) {
  html {
    font-size: 44%;
  }
  .input-container {
    grid-template-columns: 1fr;
  }

  .hw-container {
    max-width: 90rem;
  }
  .container {
    max-width: 90rem;
  }
  .section-HW3 {
    margin-bottom: 60rem;
  }
  .section-HW2 {
    margin-bottom: 30rem;
  }
  .map-img img {
    width: 60%;
  }
  .hw-order {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hw4-container {
    display: grid;
    grid-template-columns: 1fr;
  }
  .img-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}
